@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$margin: 400px;
$laptop: 1280;
$tablet: 769;
$mobile: 400;
$white: #FFF;
$main: var(--main-wp-annotations);
$main_rgb: var(--main-wp-annotations-rgb);
$sombre: var(--sombre-wp-annotations);
$sombre_rgb: var(--sombre-wp-annotations-rgb);
$clair: var(--clair-wp-annotations);
$clair_rgb: var(--clair-wp-annotations-rgb);
$alt: var(--alt-wp-annotations);
$alt_rgb: var(--alt-wp-annotations-rgb);


html{
    transition: all .5s ease;

    body{
        // width: 100%;
        // transform: none;
        // transition: all .5s ease;
        &.no-scroll{
            max-height: 100vh;
            max-width: 100vw;
            overflow: hidden;
        }
    }

    #wpadminbar{
        z-index: 9999 !important;
    }

    // &.review-mode{
    //     width: calc(100vw - #{$margin});
    //     margin-left: $margin;
    // }

    &.laptop{
        // width: $laptop;
        // margin-left: calc(#{$margin} + ((100vw - #{$laptop} - #{$margin}) / 2));
    }
    
    &.tablet{
        // width: $tablet;
        // margin-left: calc(#{$margin} + ((100vw - #{$tablet} - #{$margin}) / 2));
    }
    
    &.mobile{
        // width: $mobile;
        // margin-left: calc(#{$margin} + ((100vw - #{$mobile} - #{$margin}) / 2));
    }
}

.wp-annotations{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 99999;
    overflow: hidden;
    pointer-events: none;

    &, & *{
        font-family: "Open Sans", serif !important;
    }

    .review-mode &{
        pointer-events: all;
        cursor: crosshair;
    }

    // '##:::::'##:'########:::::'###::::'########::'########::'########:'########::
    //  ##:'##: ##: ##.... ##:::'## ##::: ##.... ##: ##.... ##: ##.....:: ##.... ##:
    //  ##: ##: ##: ##:::: ##::'##:. ##:: ##:::: ##: ##:::: ##: ##::::::: ##:::: ##:
    //  ##: ##: ##: ########::'##:::. ##: ########:: ########:: ######::: ########::
    //  ##: ##: ##: ##.. ##::: #########: ##.....::: ##.....::: ##...:::: ##.. ##:::
    //  ##: ##: ##: ##::. ##:: ##.... ##: ##:::::::: ##:::::::: ##::::::: ##::. ##::
    // . ###. ###:: ##:::. ##: ##:::: ##: ##:::::::: ##:::::::: ########: ##:::. ##:
    // :...::...:::..:::::..::..:::::..::..:::::::::..:::::::::........::..:::::..::

    &--wrapper{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 2;
    }
    
    // '##::::::::'#######:::::'###::::'########::'########:'########::
    //  ##:::::::'##.... ##:::'## ##::: ##.... ##: ##.....:: ##.... ##:
    //  ##::::::: ##:::: ##::'##:. ##:: ##:::: ##: ##::::::: ##:::: ##:
    //  ##::::::: ##:::: ##:'##:::. ##: ##:::: ##: ######::: ########::
    //  ##::::::: ##:::: ##: #########: ##:::: ##: ##...:::: ##.. ##:::
    //  ##::::::: ##:::: ##: ##.... ##: ##:::: ##: ##::::::: ##::. ##::
    //  ########:. #######:: ##:::: ##: ########:: ########: ##:::. ##:
    // ........:::.......:::..:::::..::........:::........::..:::::..::

    .loader-ajax {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 2px solid $main;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    .loader-ajax::after {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 4px;
        top: 4px;
        border: 2px solid $white;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
          
    @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
    } 

    // :::'###:::::'######::'########:'####::'#######::'##::: ##::::'########::'##::::'##:'########:'########::'#######::'##::: ##::'######::
    // ::'## ##:::'##... ##:... ##..::. ##::'##.... ##: ###:: ##:::: ##.... ##: ##:::: ##:... ##..::... ##..::'##.... ##: ###:: ##:'##... ##:
    // :'##:. ##:: ##:::..::::: ##::::: ##:: ##:::: ##: ####: ##:::: ##:::: ##: ##:::: ##:::: ##::::::: ##:::: ##:::: ##: ####: ##: ##:::..::
    // '##:::. ##: ##:::::::::: ##::::: ##:: ##:::: ##: ## ## ##:::: ########:: ##:::: ##:::: ##::::::: ##:::: ##:::: ##: ## ## ##:. ######::
    //  #########: ##:::::::::: ##::::: ##:: ##:::: ##: ##. ####:::: ##.... ##: ##:::: ##:::: ##::::::: ##:::: ##:::: ##: ##. ####::..... ##:
    //  ##.... ##: ##::: ##:::: ##::::: ##:: ##:::: ##: ##:. ###:::: ##:::: ##: ##:::: ##:::: ##::::::: ##:::: ##:::: ##: ##:. ###:'##::: ##:
    //  ##:::: ##:. ######::::: ##::::'####:. #######:: ##::. ##:::: ########::. #######::::: ##::::::: ##::::. #######:: ##::. ##:. ######::
    // ..:::::..:::......::::::..:::::....:::.......:::..::::..:::::........::::.......::::::..::::::::..::::::.......:::..::::..:::......:::
    &__actions{
        position: fixed;
        left: 0;
        top: 0;
        background: rgba($sombre_rgb, 0.85);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 0 0 8px 0;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
        z-index: 997;
        transition: all .5s ease;  
        backdrop-filter: blur(3px);

        .dash-open &{
            transform: translateX($margin);

            @media screen and (max-width: 470px) {
                transform: translateX(-100%);
                left: 100%;
                border-radius: 0 0 0 8px;
            }
        }

        .screenshot &{
            display: none;
        }

        &--bubble{
            width: 40px;
            height: 40px;
            border: none;
            cursor: pointer;
            pointer-events: all;  
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .review-mode.screenshot &{
                display: none;
            }
    
            img{
                width: 20px;
                height: 20px;
                object-fit: contain;
                display: block;
                transition: all .5s ease;
            }
    
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }

            &.ann-dash{
                img{
                    &.browse{
                        display: none;
                    }
                }

                .dash-open &{
                    img{
                        &.browse{
                            display: block;
                        }
        
                        &.comment{
                            display: none;
                        }
                    }
                }
            }

            &.ann-switch{
                img{
                    &.browse{
                        display: none;
                    }
                }

                .review-mode &{
                    img{
                        &.browse{
                            display: block;
                        }
        
                        &.comment{
                            display: none;
                        }
                    }
                }
            }
        }
    
        &--switch-bubble{
            width: 40px;
            height: 40px;
            border: none;
            cursor: pointer;
            pointer-events: all; 
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
    
            svg{
                width: 16px;
                height: 16px;
                object-fit: contain;
                display: block;
                transition: all .5s ease;

                path{
                    fill: $white;
                    transition: fill .3s ease;
                }

                &.browse{
                    display: none;
                }
            }
    
            .review-mode &{    
                svg{
                    &.browse{
                        display: block;
                    }
    
                    &.comment{
                        display: none;
                    }
                }
            }
    
            .dash-open &{
                transform: translateX($margin);
            }
    
            .review-mode.screenshot &{
                display: none;
            }
    
            &:hover{
                svg{
                    width: 18px;
                    height: 18px;

                    path{
                        fill: #BBB;
                    }
                }
            }
        }
    }

    // '##::: ##::'#######::'########:'####::'######::'########::'######::
    //  ###:: ##:'##.... ##:... ##..::. ##::'##... ##: ##.....::'##... ##:
    //  ####: ##: ##:::: ##:::: ##::::: ##:: ##:::..:: ##::::::: ##:::..::
    //  ## ## ##: ##:::: ##:::: ##::::: ##:: ##::::::: ######:::. ######::
    //  ##. ####: ##:::: ##:::: ##::::: ##:: ##::::::: ##...:::::..... ##:
    //  ##:. ###: ##:::: ##:::: ##::::: ##:: ##::: ##: ##:::::::'##::: ##:
    //  ##::. ##:. #######::::: ##::::'####:. ######:: ########:. ######::
    // ..::::..:::.......::::::..:::::....:::......:::........:::......:::
    &--notices{
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999;

        .wp-ann-notice-item{
            max-width: 250px;
            background: linear-gradient(90deg, rgba($sombre_rgb, 0.25), rgba($sombre_rgb, 0.75));
            border: 1px solid $sombre;
            backdrop-filter: blur(3px);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
            border-radius: 4px;
            overflow: hidden;    
            position: relative;
            display: flex;
            align-items: stretch;   

            span{
                padding: 0 16px;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                color: $white;
                font-size: 24px;
            }

            p{
                font-size: 12px;
                font-weight: 700;
                line-height: 1.2;
                color: $white;
                padding: 24px 16px;
                flex-grow: 1;
            }  
            
            & + .wp-ann-notice-item{
                margin-top: 10px;
            }
        }

        .screenshot &{
            display: none;
        }
    }

    // '##:::::::'####::'######:::'##::::'##:'########:'########:::'#######::'##::::'##:
    //  ##:::::::. ##::'##... ##:: ##:::: ##:... ##..:: ##.... ##:'##.... ##:. ##::'##::
    //  ##:::::::: ##:: ##:::..::: ##:::: ##:::: ##:::: ##:::: ##: ##:::: ##::. ##'##:::
    //  ##:::::::: ##:: ##::'####: #########:::: ##:::: ########:: ##:::: ##:::. ###::::
    //  ##:::::::: ##:: ##::: ##:: ##.... ##:::: ##:::: ##.... ##: ##:::: ##::: ## ##:::
    //  ##:::::::: ##:: ##::: ##:: ##:::: ##:::: ##:::: ##:::: ##: ##:::: ##:: ##:. ##::
    //  ########:'####:. ######::: ##:::: ##:::: ##:::: ########::. #######:: ##:::. ##:
    // ........::....:::......::::..:::::..:::::..:::::........::::.......:::..:::::..::
    &--lightbox{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 998;
        display: none;
        align-items: center;
        justify-content: center;
        pointer-events: all;

        &__wrapper{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .close-light-button{
                width: 30px;
                height: 30px;
                position: absolute;
                top: 24px;
                right: 24px;
                cursor: pointer;
                z-index: 2;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            & > img{
                position: relative;
                z-index: 1;
                width: 80%;
                height: 80%;
                object-fit: contain;
                object-position: center center;
            }
        }
    }

    // '########:::::'###:::::'######::'##::::'##:'########:::'#######:::::'###::::'########::'########::
    //  ##.... ##:::'## ##:::'##... ##: ##:::: ##: ##.... ##:'##.... ##:::'## ##::: ##.... ##: ##.... ##:
    //  ##:::: ##::'##:. ##:: ##:::..:: ##:::: ##: ##:::: ##: ##:::: ##::'##:. ##:: ##:::: ##: ##:::: ##:
    //  ##:::: ##:'##:::. ##:. ######:: #########: ########:: ##:::: ##:'##:::. ##: ########:: ##:::: ##:
    //  ##:::: ##: #########::..... ##: ##.... ##: ##.... ##: ##:::: ##: #########: ##.. ##::: ##:::: ##:
    //  ##:::: ##: ##.... ##:'##::: ##: ##:::: ##: ##:::: ##: ##:::: ##: ##.... ##: ##::. ##:: ##:::: ##:
    //  ########:: ##:::: ##:. ######:: ##:::: ##: ########::. #######:: ##:::: ##: ##:::. ##: ########::
    // ........:::..:::::..:::......:::..:::::..::........::::.......:::..:::::..::..:::::..::........:::
    &--dashboard{
        position: fixed;
        left: 0;
        top: 0;
        width: $margin;
        max-width: calc(100% - 45px);
        height: 100vh;
        background: rgba($white, 0.9);
        backdrop-filter: blur(8px);
        z-index: 666;
        transition: transform .5s ease;
        transform: translateX(-$margin);        
        border-right: 1px solid rgba($sombre_rgb, 0.3);
        cursor: default;
        pointer-events: none;

        .dash-open &{
            transform: translateX(0);
            pointer-events: all;
        }

        &.ajax{
            .wp-annotations--dashboard__ajax{
                opacity: 1;
                visibility: visible;
            }
        }

        &__wrapper{
            position: relative;
            width: 100%;
            height: 100%;
            overflow: auto;

            & > *{
                position: relative;
                z-index: 2;
            }
        }

        &__ajax{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease;
        }

        &__devices{
            position: relative;
            padding: 8px 16px 0;
        }

        &__comments{
            position: relative;
            padding: 8px 16px 16px;
            border-bottom: 1px solid rgba($sombre_rgb, 0.25);
        }

        label{
            font-weight: 700;
            color: $sombre;
            font-size: 14px;
            margin-bottom: 6px;
            display: block;
        }

        &__comments-list{
            padding-bottom: 50px;
            
            &.display-none{
                display: none;
            }

            .no-comment{
                padding: 8px 16px;
                color: $sombre;
            }
        }
    }

    // :'######:::'#######::'##::::'##:'##::::'##:'########:'##::: ##:'########::'######:::::'##::::::::::'###::::'##:::'##::'#######::'##::::'##:'########:
    // '##... ##:'##.... ##: ###::'###: ###::'###: ##.....:: ###:: ##:... ##..::'##... ##:::: ##:::::::::'## ##:::. ##:'##::'##.... ##: ##:::: ##:... ##..::
    //  ##:::..:: ##:::: ##: ####'####: ####'####: ##::::::: ####: ##:::: ##:::: ##:::..::::: ##::::::::'##:. ##:::. ####::: ##:::: ##: ##:::: ##:::: ##::::
    //  ##::::::: ##:::: ##: ## ### ##: ## ### ##: ######::: ## ## ##:::: ##::::. ######::::: ##:::::::'##:::. ##:::. ##:::: ##:::: ##: ##:::: ##:::: ##::::
    //  ##::::::: ##:::: ##: ##. #: ##: ##. #: ##: ##...:::: ##. ####:::: ##:::::..... ##:::: ##::::::: #########:::: ##:::: ##:::: ##: ##:::: ##:::: ##::::
    //  ##::: ##: ##:::: ##: ##:.:: ##: ##:.:: ##: ##::::::: ##:. ###:::: ##::::'##::: ##:::: ##::::::: ##.... ##:::: ##:::: ##:::: ##: ##:::: ##:::: ##::::
    // . ######::. #######:: ##:::: ##: ##:::: ##: ########: ##::. ##:::: ##::::. ######::::: ########: ##:::: ##:::: ##::::. #######::. #######::::: ##::::
    // :......::::.......:::..:::::..::..:::::..::........::..::::..:::::..::::::......::::::........::..:::::..:::::..::::::.......::::.......::::::..:::::
    &--comments-layout{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 555;
    }

    // '##::::'##::'#######::'########:::::'###::::'##:::::::
    //  ###::'###:'##.... ##: ##.... ##:::'## ##::: ##:::::::
    //  ####'####: ##:::: ##: ##:::: ##::'##:. ##:: ##:::::::
    //  ## ### ##: ##:::: ##: ##:::: ##:'##:::. ##: ##:::::::
    //  ##. #: ##: ##:::: ##: ##:::: ##: #########: ##:::::::
    //  ##:.:: ##: ##:::: ##: ##:::: ##: ##.... ##: ##:::::::
    //  ##:::: ##:. #######:: ########:: ##:::: ##: ########:
    // ..:::::..:::.......:::........:::..:::::..::........::
    &__modal{
        position: absolute;
        display: none;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;

        svg{
            width: 100%;
            height: 100%;
            
            .modal-fill{
                fill: $main;
            }

            .modal-stroke{
                stroke: $clair;
            }
        }
    }

    // '########::'#######::'########::'##::::'##:
    //  ##.....::'##.... ##: ##.... ##: ###::'###:
    //  ##::::::: ##:::: ##: ##:::: ##: ####'####:
    //  ######::: ##:::: ##: ########:: ## ### ##:
    //  ##...:::: ##:::: ##: ##.. ##::: ##. #: ##:
    //  ##::::::: ##:::: ##: ##::. ##:: ##:.:: ##:
    //  ##:::::::. #######:: ##:::. ##: ##:::: ##:
    // ..:::::::::.......:::..:::::..::..:::::..::

    form#wp-annotation-form{
        display: none;
        position: fixed;
        bottom: 20px;
        left: 20px;
        border-radius: 4px;
        overflow: hidden;
        background: linear-gradient(90deg, rgba($white, 0.85), rgba(200, 200, 200, 0.85));
        backdrop-filter: blur(3px);
        width: 400px;
        max-width: calc(100% - 40px);
        cursor: default;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

        textarea{
            width: 100%;
            height: 80px;
            border: none;
            border-bottom: 1px solid rgba($sombre_rgb, 0.3);
            padding: 8px;
            border-radius: 0;
            font-family: "Open Sans", serif;
            color: $sombre;
            margin-bottom: 8px;
            background: none;

            &:focus{
                outline: none;
            }
        }

        .mention-list-main{
            display: none;
            width: 100%;
            padding: 0 8px 8px;

            &__wrapper{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                flex-wrap: wrap;
            }

            &__item{
                padding: 3px 6px;
                border: 1px solid $sombre;
                border-radius: 4px;
                font-size: 12px;
                cursor: pointer;
                transition: background .5s ease;

                &:hover{
                    background: rgba($clair_rgb, 0.5);
                }
            }
        }

        .client-visible{
            display: block;
            padding: 0 8px 12px;
            color: $sombre;
            font-size: 14px;

            input{
                transform: translateY(2px);
                opacity: 1;
                height: initial;
                width: auto;
                position: relative;
                accent-color: $sombre;
            }
        }

        .submit-box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 8px 8px;

            button{
                padding: 8px 16px;
                background: $main;
                color: $white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: background .5s ease;
                width: fit-content;
    
                &:hover{
                    background: $sombre;
                }
            }
        }

        .screenshot &{
            display: none;
        }
    }

    // :'######:::'#######::'##::::'##:'##::::'##:'########:'##::: ##:'########::::'########:::::'###:::::'######:::'########:
    // '##... ##:'##.... ##: ###::'###: ###::'###: ##.....:: ###:: ##:... ##..::::: ##.... ##:::'## ##:::'##... ##:: ##.....::
    //  ##:::..:: ##:::: ##: ####'####: ####'####: ##::::::: ####: ##:::: ##::::::: ##:::: ##::'##:. ##:: ##:::..::: ##:::::::
    //  ##::::::: ##:::: ##: ## ### ##: ## ### ##: ######::: ## ## ##:::: ##::::::: ########::'##:::. ##: ##::'####: ######:::
    //  ##::::::: ##:::: ##: ##. #: ##: ##. #: ##: ##...:::: ##. ####:::: ##::::::: ##.....::: #########: ##::: ##:: ##...::::
    //  ##::: ##: ##:::: ##: ##:.:: ##: ##:.:: ##: ##::::::: ##:. ###:::: ##::::::: ##:::::::: ##.... ##: ##::: ##:: ##:::::::
    // . ######::. #######:: ##:::: ##: ##:::: ##: ########: ##::. ##:::: ##::::::: ##:::::::: ##:::: ##:. ######::: ########:
    // :......::::.......:::..:::::..::..:::::..::........::..::::..:::::..::::::::..:::::::::..:::::..:::......::::........::

    .comment-page-item{
        border-bottom: 2px solid rgba($sombre_rgb, 0.3);

        .accordeon-header{
            display: flex;
            align-items: center;
            padding: 8px;
            gap: 8px;
            background: rgba($sombre_rgb, 0.2);

            h5{
                font-weight: 500;
                color: $sombre;
                flex-grow: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 275px;
                display: block;
                font-size: 16px;
                margin: 0;
                padding: 0;
            }

            span{
                font-weight: 700;
                color: $sombre;
                font-size: 12px;
            }

            a, button{
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
                border: none;
                cursor: pointer;
                transition: transform .5s ease;
                padding: 0;

                svg{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    fill: $sombre;
                    transition: .5s ease;
                }

                &:hover{
                    svg{
                        fill: $clair;
                    }
                }
            }

            &.closed{
                button{
                    transform: rotate(180deg);
                }
            }
        }

        .accordeon-content{
            border-top: 1px solid rgba($sombre_rgb, 0.3);
        }
    }

    // :'######:::'#######::'##::::'##:'##::::'##:'########:'##::: ##:'########::::'####:'########:'########:'##::::'##:
    // '##... ##:'##.... ##: ###::'###: ###::'###: ##.....:: ###:: ##:... ##..:::::. ##::... ##..:: ##.....:: ###::'###:
    //  ##:::..:: ##:::: ##: ####'####: ####'####: ##::::::: ####: ##:::: ##:::::::: ##::::: ##:::: ##::::::: ####'####:
    //  ##::::::: ##:::: ##: ## ### ##: ## ### ##: ######::: ## ## ##:::: ##:::::::: ##::::: ##:::: ######::: ## ### ##:
    //  ##::::::: ##:::: ##: ##. #: ##: ##. #: ##: ##...:::: ##. ####:::: ##:::::::: ##::::: ##:::: ##...:::: ##. #: ##:
    //  ##::: ##: ##:::: ##: ##:.:: ##: ##:.:: ##: ##::::::: ##:. ###:::: ##:::::::: ##::::: ##:::: ##::::::: ##:.:: ##:
    // . ######::. #######:: ##:::: ##: ##:::: ##: ########: ##::. ##:::: ##:::::::'####:::: ##:::: ########: ##:::: ##:
    // :......::::.......:::..:::::..::..:::::..::........::..::::..:::::..::::::::....:::::..:::::........::..:::::..::

    .comment-item{
        padding-top: 8px;
        padding-bottom: 8px;

        &:not(:last-child){
            border-bottom: 1px solid rgba($sombre_rgb, 0.3);
        }

        &__header{
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0 16px;

            .dot{
                width: 30px;
                height: 30px;
                border-radius: 4px;
                background: rgba($main_rgb, 0.7);
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 12px;
                flex-shrink: 0;
            }

            h5{
                font-weight: 500;
                color: $sombre;
                flex-grow: 1;
                font-size: 14px;
                margin: 0;
                padding: 0;
            }

            span{
                font-weight: 400;
                color: $main;
                font-size: 10px;
            }

            .visible-by-client{
                display: flex;
                align-items: center;

                svg{
                    width: 16px;
                    height: 16px;
                    object-fit: contain;

                    path{
                        fill: $main;
                    }
                }
            }

            .device{
                display: flex;
                align-items: center;

                svg{
                    width: 16px;
                    height: 16px;
                    object-fit: contain;

                    &:not(.fill){
                        path{
                            stroke: $main;
                        }
                    }

                    &.fill{
                        path{
                            fill: $main;
                        }
                    }
                }
            }

            .buttons{
                display: flex;
                align-items: center;
                gap: 8px;

                button{
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    cursor: pointer;
                    border: 1px solid $sombre;
                    border-radius: 2px;
                    padding: 0;
                    transition: all .5s ease;
    
                    svg{
                        width: 14px;
                        height: 14px;
                        object-fit: contain;
                    }
    
                    &.true{
                        background: rgba($sombre_rgb, 0.8);
                        
                        .active{
                            display: none;
                        }
                    }
    
                    &.false{
                        .resolved{
                            display: none;
                        }
                    }

                    &:hover{
                        background: rgba($clair_rgb, 0.65);
                    }
                }
            }
        }

        &__content{
            padding: 0 16px;
            margin-top: 12px;
                    
            p{
                font-size: 16px;
                color: $sombre;
              
                & + p{
                    margin-top: 8px;
                }
            }
        }

        &__content-form{
            padding: 0 16px;
            margin-top: 12px;
            display: none;

            textarea{
                width: 100%;
                border: 1px solid $sombre;
                background: none;
                text-align: left;
                border-radius: 4px;
                color: $sombre;
                transition: border .5s ease;
                padding: 8px;

                &:focus{
                    outline: none;
                    border: 1px solid $alt;
                }
            }

            &--btns{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 8px;
                margin-top: 8px;

                button{
                    padding: 4px 8px;
                    background: $main;
                    color: $white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background .5s ease;
                    font-size: 10px;
        
                    &:hover{                        
                        background: $sombre;
                    }
                }
            }
        }

        &__screenshot{
            padding: 0 16px;
            margin-top: 12px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 8px;

            &--wrapper{
                width: 80px;
                aspect-ratio: 4/3;
                border-radius: 12px;
                object-fit: cover;
                border: 1px solid rgba($sombre_rgb, 0.3);
                overflow: hidden;
                cursor: pointer;
                position: relative;

                .expend{
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba(0, 0, 0, 0.5);
                    opacity: 0;
                    transition: all .5s ease;

                    img{
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                    }
                }

                & > img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                    z-index: 1;
                }

                &:hover{
                    .expend{
                        opacity: 1;
                    }
                }
            }

            &--comments{
                position: relative;
                cursor: pointer;

                svg{
                    width: 32px;
                    height: 32px;

                    path{
                        fill: $main;
                        transition: all .5s ease;
                    }
                }

                &:hover{
                    svg{
                        path{
                            fill: $clair;
                        }
                    }
                }

                &.has-comments{
                    &::after{
                        content: '';
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: $sombre;
                        position: absolute;
                        top: 4px;
                        right: 4px;
                    }
                }
            }
        }
    }

    // '########::'########:'########::'##:::::::'####:'########::'######:::::'########:::'#######::'##::::'##:
    //  ##.... ##: ##.....:: ##.... ##: ##:::::::. ##:: ##.....::'##... ##:::: ##.... ##:'##.... ##:. ##::'##::
    //  ##:::: ##: ##::::::: ##:::: ##: ##:::::::: ##:: ##::::::: ##:::..::::: ##:::: ##: ##:::: ##::. ##'##:::
    //  ########:: ######::: ########:: ##:::::::: ##:: ######:::. ######::::: ########:: ##:::: ##:::. ###::::
    //  ##.. ##::: ##...:::: ##.....::: ##:::::::: ##:: ##...:::::..... ##:::: ##.... ##: ##:::: ##::: ## ##:::
    //  ##::. ##:: ##::::::: ##:::::::: ##:::::::: ##:: ##:::::::'##::: ##:::: ##:::: ##: ##:::: ##:: ##:. ##::
    //  ##:::. ##: ########: ##:::::::: ########:'####: ########:. ######::::: ########::. #######:: ##:::. ##:
    // ..:::::..::........::..:::::::::........::....::........:::......::::::........::::.......:::..:::::..::

    &__replies{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(5px);
        z-index: 998;
        display: none;
        align-items: center;
        justify-content: center;
        pointer-events: all;

        &.ajax{
            .wp-annotations__replies{
                &--ajax{
                    opacity: 1;
                    visibility: visible;
                }
            }
            
            .reply-box{
                filter: blur(5px);
            }
        }

        &.loading{
            .wp-annotations--replies{
                &__ajax{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &--ajax{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.05);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease;
        }

        &--wrapper{
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            display: block;
            padding: 90px 45px;
            overflow: auto;
            transition: all .2s ease;
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }

        @media screen and (max-width: 500px) {
            &--wrapper{
                padding: 60px 0;
            }
        }
    }

    .reply-box{
        background: rgba($white, 0.75);
        width: 850px;
        max-width: calc(100% - 48px);
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        transition: all .3s ease;

        &.ajax{
            .reply-box__ajax{
                opacity: 1;
                visibility: visible;
            }
        }

        &__ajax{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease;

            .loader-ajax{
                &::after{
                    border: 2px solid $sombre;
                }
            }
        }

        &__wrapper{
            position: relative;
            z-index: 1;
            padding: 24px;
        }

        &__header{
            display: flex;
            align-items: center;
            gap: 8px;

            .dot{
                width: 30px;
                height: 30px;
                border-radius: 4px;
                background: rgba($main_rgb, 0.7);
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 12px;
                flex-shrink: 0;
            }

            h5{
                font-weight: 500;
                color: $sombre;
                flex-grow: 1;
                font-size: 14px;
                margin: 0;
                padding: 0;
            }

            span{
                font-weight: 400;
                color: $main;
                font-size: 10px;
            }

            .visible-by-client{
                display: flex;
                align-items: center;

                svg{
                    width: 16px;
                    height: 16px;
                    object-fit: contain;

                    path{
                        fill: $main;
                    }
                }
            }

            .device{
                display: flex;
                align-items: center;

                svg{
                    width: 16px;
                    height: 16px;
                    object-fit: contain;

                    &:not(.fill){
                        path{
                            stroke: $main;
                        }
                    }

                    &.fill{
                        path{
                            fill: $main;
                        }
                    }
                }
            }

            .buttons{
                display: flex;
                align-items: center;
                gap: 8px;

                button{
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    cursor: pointer;
                    border: 1px solid $sombre;
                    border-radius: 2px;
                    padding: 0;
                    transition: background .5s ease;
    
                    svg{
                        width: 12px;
                        height: 12px;
                        object-fit: contain;
                    }

                    &.close-replies{
                        svg{
                            path{
                                stroke: $sombre;
                            }
                        }
                    }
    
                    &.true{
                        background: $sombre;
                        
                        .active{
                            display: none;
                        }
                    }
    
                    &.false{
                        .resolved{
                            display: none;
                        }
                    }

                    &:hover{
                        background: rgba($clair_rgb, 0.5);
                    }
                }
            }
        }

        &__comment{
            margin-top: 12px;
            font-size: 16px;
            background: rgba($sombre_rgb, 0.55);
            color: $white;
            padding: 16px;
            border-radius: 4px;

            &.has-replies{
                border-radius: 4px 4px 0 0;
            }

            h5{
                font-weight: 700;
                margin: 0 0 12px 0;
                padding: 0;
                font-size: 12px;
                color: $white;
            }

            p{
                & + p{
                    margin-top: 8px;
                }
            }
        }

        &__replies{
            border-bottom: 1px solid rgba($sombre_rgb, 0.3);
            padding-bottom: 16px;

            .reply-item{
                padding: 24px;
                background: rgba($white, 0.2);
                border-left: 4px solid rgba($sombre_rgb, 0.55);

                
                &:nth-child(odd){
                    background: rgba($clair_rgb, 0.05);
                }

                &:last-child{
                    border-radius: 0 0 4px 4px;
                }

                &__header{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &--user{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        
                        svg{
                            transform: scaleX(-1);
                            width: 20px;
                            height: 20px;

                            path{
                                fill: $main;
                            }
                        }

                        h6{
                            font-size: 14px;
                            font-weight: 500;
                            color: $sombre;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    &--infos{
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        span{
                            font-size: 12px;
                            color: $main;
                        }

                        .visible-by-client{
                            display: flex;
                            align-items: center;

                            svg{
                                width: 16px;
                                height: 16px;
                                object-fit: contain;

                                path{
                                    fill: $main;
                                }
                            }
                        }
                        
                        .buttons{
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            button{
                                width: 20px;
                                height: 20px;
                                flex-shrink: 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: none;
                                cursor: pointer;
                                border: 1px solid $sombre;
                                border-radius: 2px;
                                padding: 0;
                                transition: background .5s ease;
                
                                svg{
                                    width: 14px;
                                    height: 14px;
                                    object-fit: contain;
                                }
                
                                &.true{
                                    background: $sombre;
                                    
                                    .active{
                                        display: none;
                                    }
                                }
                
                                &.false{
                                    .resolved{
                                        display: none;
                                    }
                                }

                                &:hover{
                                    background: rgba($clair_rgb, 0.5);
                                }
                            }
                        }
                    }
                }

                &__content{
                    margin-top: 24px;
                    
                    p{
                        font-size: 16px;
                        color: $sombre;

                        & + p{
                            margin-top: 8px;
                        }
                    }

                    strong{
                        &.mention{
                            color: $main;
                            font-weight: 700;
                        }
                    }
                }

                &__image{
                    width: 120px;
                    aspect-ratio: 4/3;
                    border-radius: 4px;
                    object-fit: cover;
                    border: 1px solid rgba($sombre_rgb, 0.3);
                    overflow: hidden;
                    cursor: pointer;
                    position: relative;
                    margin-top: 24px;
    
                    .expend{
                        position: absolute;
                        z-index: 2;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: rgba(0, 0, 0, 0.5);
                        opacity: 0;
                        transition: all .5s ease;
    
                        img{
                            width: 30px;
                            height: 30px;
                            object-fit: contain;
                        }
                    }
    
                    & > img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: relative;
                        z-index: 1;
                    }
    
                    &:hover{
                        .expend{
                            opacity: 1;
                        }
                    }
                }

                &__clear{
                    clear: both;
                }
            }
        }

        &__form{
            margin-top: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            flex-wrap: wrap;

            .mention-list{
                display: none;
                width: 100%;

                &__wrapper{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;
                    flex-wrap: wrap;
                }

                &__item{
                    padding: 3px 6px;
                    border: 1px solid $sombre;
                    border-radius: 4px;
                    font-size: 12px;
                    cursor: pointer;
                    transition: background .5s ease;

                    &:hover{
                        background: rgba($clair_rgb, 0.5);
                    }
                }
            }

            textarea{
                width: 100%;
                border: 1px solid $sombre;
                border-radius: 0;
                background: none;
                text-align: left;
                border-radius: 4px;
                color: $sombre;
                transition: border .5s ease;
                padding: 8px;

                &:focus{
                    outline: none;
                    border: 1px solid $alt;
                }
            }

            label{
                color: $sombre;
                font-size: 13px;
                display: flex;
                align-items: center;
                gap: 5px;
            }

            .file-input{
                width: 100%;
                display: flex;
                align-items: center;

                .reply-file{
                    width: 100%;
                }

                input{
                    display: none;
                }

                &__front{
                    font-size: 12px;
                    width: fit-content;

                    iconify-icon{
                        font-size: 14px;
                    }

                    .unfiled{                            
                        &__wrap{
                            width: fit-content;
                            color: $sombre;
                            transition: all .5s ease;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            padding: 4px 6px;
                            border: 1px solid $sombre;
                            border-radius: 5px;

                            &:hover{
                                background: rgba($main_rgb, 0.1);
                            }
                        }
                    }

                    .filed{
                        display: none;

                        &__wrap{
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            width: fit-content;
                            max-width: 100%;
                            overflow: hidden;

                            .text{
                                color: $sombre;
                                flex-grow: 1;
                                display: inline-block;
                                max-width: 100%;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                vertical-align: middle;
                            }

                            .clear{
                                color: $sombre;
                                transition: all .5s ease;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                flex-shrink: 0;

                                &:hover{
                                    color: $clair;
                                }
                            }
                        }
                    }
                }
            }

            & > label{
                input{
                    height: 16px;
                    position: relative;
                    width: auto;
                    opacity: 1;
                }
            }

            button{
                padding: 4px 8px;
                background: $main;
                color: $white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: background .5s ease;
                font-size: 14px;
                width: fit-content;

                &:hover{                        
                    background: $sombre;
                }
            }         
        }
    }

    //  ######  ######## ##       ########  ######  ########  #######  
    // ##    ## ##       ##       ##       ##    ##    ##    ##     ## 
    // ##       ##       ##       ##       ##          ##           ## 
    //  ######  ######   ##       ######   ##          ##     #######  
    //       ## ##       ##       ##       ##          ##    ##        
    // ##    ## ##       ##       ##       ##    ##    ##    ##        
    //  ######  ######## ######## ########  ######     ##    ######### 
    .select2{
        &-container{
            &--default{
                .select2-selection--single{
                    height: 40px;
                    border: 1px solid rgba($sombre_rgb, 0.25);
                    border-radius: 4px;
                    background: none;

                    .select2-selection__rendered{
                        height: 38px;
                        display: flex;
                        align-items: center;
                        padding: 0 16px;
                        font-size: 16px;
                        color: $sombre;

                        span{
                            display: flex;
                            align-items: center;
                            gap: 8px;
                        }                    
                    }

                    .select2-selection__arrow{
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }                
    }
}

//  ######  ######## ##       ########  ######  ########  #######     ########  ########   #######  ########  ########   #######  ##      ## ##    ## 
// ##    ## ##       ##       ##       ##    ##    ##    ##     ##    ##     ## ##     ## ##     ## ##     ## ##     ## ##     ## ##  ##  ## ###   ## 
// ##       ##       ##       ##       ##          ##           ##    ##     ## ##     ## ##     ## ##     ## ##     ## ##     ## ##  ##  ## ####  ## 
//  ######  ######   ##       ######   ##          ##     #######     ##     ## ########  ##     ## ########  ##     ## ##     ## ##  ##  ## ## ## ## 
//       ## ##       ##       ##       ##          ##    ##           ##     ## ##   ##   ##     ## ##        ##     ## ##     ## ##  ##  ## ##  #### 
// ##    ## ##       ##       ##       ##    ##    ##    ##           ##     ## ##    ##  ##     ## ##        ##     ## ##     ## ##  ##  ## ##   ### 
//  ######  ######## ######## ########  ######     ##    #########    ########  ##     ##  #######  ##        ########   #######   ###  ###  ##    ## 

.website-page{
    .wp-annotations-dropdown{
        // width: 100% !important;
        
        // Search
        .select2-search--dropdown{
            display: none !important;
        }
    
        // Dropdown
        &.select2-dropdown{
            border: 1px solid rgba($sombre_rgb, 0.25) !important;
            overflow: hidden !important;
            background: $white;
            z-index: 99999;
    
            &.select2-dropdown--below{
                border-radius: 0 0 4px 4px !important;
            }
    
            &.select2-dropdown--above{
                border-radius: 4px 4px 0 0 !important;
            }
    
            .select2{
                &-results{
                    &__options{
                        max-height: 200px;
                        overflow-y: auto;
                    }
    
                    &__option{
                        height: 40px;
                        padding: 0 16px;
                        font-size: 16px;
                        color: $sombre;
                        display: flex;
                        align-items: center;

                        span{
                            display: flex;
                            align-items: center;
                            gap: 8px;
                        }
    
                        &--selected {
                            background: rgba($alt_rgb, 0.5) !important;
                        }
    
                        &--highlighted{
                            background: $alt !important;
                            color: $white !important;
                        }
                    }
                }
            }
        }
    }
}