@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$margin: 350px;
$laptop: 1280;
$tablet: 769;
$mobile: 400;
$white: #FFF;
$main: var(--main-wp-annotations);
$main_rgb: var(--main-wp-annotations-rgb);
$sombre: var(--sombre-wp-annotations);
$sombre_rgb: var(--sombre-wp-annotations-rgb);
$clair: var(--clair-wp-annotations);
$clair_rgb: var(--clair-wp-annotations-rgb);
$alt: var(--alt-wp-annotations);
$alt_rgb: var(--alt-wp-annotations-rgb);


html{
    transition: all .5s ease;

    body{
        // width: 100%;
        // transform: none;
        // transition: all .5s ease;
        &.no-scroll{
            max-height: 100vh;
            max-width: 100vw;
            overflow: hidden;
        }
    }

    // &.review-mode{
    //     width: calc(100vw - #{$margin});
    //     margin-left: $margin;
    // }

    &.laptop{
        // width: $laptop;
        // margin-left: calc(#{$margin} + ((100vw - #{$laptop} - #{$margin}) / 2));
    }
    
    &.tablet{
        // width: $tablet;
        // margin-left: calc(#{$margin} + ((100vw - #{$tablet} - #{$margin}) / 2));
    }
    
    &.mobile{
        // width: $mobile;
        // margin-left: calc(#{$margin} + ((100vw - #{$mobile} - #{$margin}) / 2));
    }
}

.wp-annotations{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 99999;
    overflow: hidden;
    pointer-events: none;

    &, & *{
        font-family: "Open Sans", serif !important;
    }

    .review-mode &{
        pointer-events: all;
        cursor: crosshair;
    }

    // '##:::::'##:'########:::::'###::::'########::'########::'########:'########::
    //  ##:'##: ##: ##.... ##:::'## ##::: ##.... ##: ##.... ##: ##.....:: ##.... ##:
    //  ##: ##: ##: ##:::: ##::'##:. ##:: ##:::: ##: ##:::: ##: ##::::::: ##:::: ##:
    //  ##: ##: ##: ########::'##:::. ##: ########:: ########:: ######::: ########::
    //  ##: ##: ##: ##.. ##::: #########: ##.....::: ##.....::: ##...:::: ##.. ##:::
    //  ##: ##: ##: ##::. ##:: ##.... ##: ##:::::::: ##:::::::: ##::::::: ##::. ##::
    // . ###. ###:: ##:::. ##: ##:::: ##: ##:::::::: ##:::::::: ########: ##:::. ##:
    // :...::...:::..:::::..::..:::::..::..:::::::::..:::::::::........::..:::::..::

    &--wrapper{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 2;
    }
    
    // '##::::::::'#######:::::'###::::'########::'########:'########::
    //  ##:::::::'##.... ##:::'## ##::: ##.... ##: ##.....:: ##.... ##:
    //  ##::::::: ##:::: ##::'##:. ##:: ##:::: ##: ##::::::: ##:::: ##:
    //  ##::::::: ##:::: ##:'##:::. ##: ##:::: ##: ######::: ########::
    //  ##::::::: ##:::: ##: #########: ##:::: ##: ##...:::: ##.. ##:::
    //  ##::::::: ##:::: ##: ##.... ##: ##:::: ##: ##::::::: ##::. ##::
    //  ########:. #######:: ##:::: ##: ########:: ########: ##:::. ##:
    // ........:::.......:::..:::::..::........:::........::..:::::..::

    .loader-ajax {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 2px solid $main;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    .loader-ajax::after {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 4px;
        top: 4px;
        border: 2px solid $white;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
          
    @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
    } 

    // '##:::::::'####::'######:::'##::::'##:'########:'########:::'#######::'##::::'##:
    //  ##:::::::. ##::'##... ##:: ##:::: ##:... ##..:: ##.... ##:'##.... ##:. ##::'##::
    //  ##:::::::: ##:: ##:::..::: ##:::: ##:::: ##:::: ##:::: ##: ##:::: ##::. ##'##:::
    //  ##:::::::: ##:: ##::'####: #########:::: ##:::: ########:: ##:::: ##:::. ###::::
    //  ##:::::::: ##:: ##::: ##:: ##.... ##:::: ##:::: ##.... ##: ##:::: ##::: ## ##:::
    //  ##:::::::: ##:: ##::: ##:: ##:::: ##:::: ##:::: ##:::: ##: ##:::: ##:: ##:. ##::
    //  ########:'####:. ######::: ##:::: ##:::: ##:::: ########::. #######:: ##:::. ##:
    // ........::....:::......::::..:::::..:::::..:::::........::::.......:::..:::::..::
    &--lightbox{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 998;
        display: none;
        align-items: center;
        justify-content: center;
        pointer-events: all;

        &__wrapper{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .close-light-button{
                width: 30px;
                height: 30px;
                position: absolute;
                top: 24px;
                right: 24px;
                cursor: pointer;
                z-index: 2;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            & > img{
                position: relative;
                z-index: 1;
                width: 80%;
                height: 80%;
                object-fit: contain;
                object-position: center center;
            }
        }
    }
    
    // '########:::::'###:::::'######::'##::::'##::::'########::'##::::'##:'########::'########::'##:::::::'########:
    //  ##.... ##:::'## ##:::'##... ##: ##:::: ##:::: ##.... ##: ##:::: ##: ##.... ##: ##.... ##: ##::::::: ##.....::
    //  ##:::: ##::'##:. ##:: ##:::..:: ##:::: ##:::: ##:::: ##: ##:::: ##: ##:::: ##: ##:::: ##: ##::::::: ##:::::::
    //  ##:::: ##:'##:::. ##:. ######:: #########:::: ########:: ##:::: ##: ########:: ########:: ##::::::: ######:::
    //  ##:::: ##: #########::..... ##: ##.... ##:::: ##.... ##: ##:::: ##: ##.... ##: ##.... ##: ##::::::: ##...::::
    //  ##:::: ##: ##.... ##:'##::: ##: ##:::: ##:::: ##:::: ##: ##:::: ##: ##:::: ##: ##:::: ##: ##::::::: ##:::::::
    //  ########:: ##:::: ##:. ######:: ##:::: ##:::: ########::. #######:: ########:: ########:: ########: ########:
    // ........:::..:::::..:::......:::..:::::..:::::........::::.......:::........:::........:::........::........::
    &--dash-bubble{
        position: fixed;
        left: 10px;
        top: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #FFF;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
        z-index: 997;
        border: none;
        cursor: pointer;
        pointer-events: all;
        transition: transform .5s ease, background .3s ease;        

        .logged-in &{
            top: 42px;
        }

        .logged-in &{
            top: 42px;
        }

        .dash-open &{
            transform: translateX($margin);
    
            .wp-annotations--dash-bubble__wrapper{
                svg{
                    &.browse{
                        display: block;
                    }
    
                    &.comment{
                        display: none;
                    }
                }
            }
        }

        .review-mode.screenshot &{
            display: none;
        }

        &__wrapper{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg{
                width: 16px;
                height: 16px;
                object-fit: contain;
                display: block;

                path{
                    stroke: $main;
                }

                &.browse{
                    display: none;
                }
            }
        }

        &:hover{
            background: #DDD;
        }
    }

    // :'######::'##:::::'##:'####:'########::'######::'##::::'##::::'########::'##::::'##:'########::'########::'##:::::::'########:
    // '##... ##: ##:'##: ##:. ##::... ##..::'##... ##: ##:::: ##:::: ##.... ##: ##:::: ##: ##.... ##: ##.... ##: ##::::::: ##.....::
    //  ##:::..:: ##: ##: ##:: ##::::: ##:::: ##:::..:: ##:::: ##:::: ##:::: ##: ##:::: ##: ##:::: ##: ##:::: ##: ##::::::: ##:::::::
    // . ######:: ##: ##: ##:: ##::::: ##:::: ##::::::: #########:::: ########:: ##:::: ##: ########:: ########:: ##::::::: ######:::
    // :..... ##: ##: ##: ##:: ##::::: ##:::: ##::::::: ##.... ##:::: ##.... ##: ##:::: ##: ##.... ##: ##.... ##: ##::::::: ##...::::
    // '##::: ##: ##: ##: ##:: ##::::: ##:::: ##::: ##: ##:::: ##:::: ##:::: ##: ##:::: ##: ##:::: ##: ##:::: ##: ##::::::: ##:::::::
    // . ######::. ###. ###::'####:::: ##::::. ######:: ##:::: ##:::: ########::. #######:: ########:: ########:: ########: ########:
    // :......::::...::...:::....:::::..::::::......:::..:::::..:::::........::::.......:::........:::........:::........::........::
    &--switch-bubble{
        position: fixed;
        left: 10px;
        top: 60px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #FFF;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
        z-index: 997;
        border: none;
        cursor: pointer;
        pointer-events: all;
        transition: transform .5s ease, background .3s ease;   

        .logged-in &{
            top: 92px;
        }

        .logged-in &{
            top: 92px;
        }

        .review-mode &{    
            .wp-annotations--switch-bubble__wrapper{
                svg{
                    &.browse{
                        display: block;
                    }
    
                    &.comment{
                        display: none;
                    }
                }
            }
        }

        .dash-open &{
            transform: translateX($margin);
        }

        .review-mode.screenshot &{
            display: none;
        }

        &__wrapper{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg{
                width: 16px;
                height: 16px;
                object-fit: contain;
                display: block;

                path{
                    fill: $main;
                }

                &.browse{
                    display: none;
                }
            }
        }

        &:hover{
            background: #DDD;
        }
    }

    // '########:::::'###:::::'######::'##::::'##:'########:::'#######:::::'###::::'########::'########::
    //  ##.... ##:::'## ##:::'##... ##: ##:::: ##: ##.... ##:'##.... ##:::'## ##::: ##.... ##: ##.... ##:
    //  ##:::: ##::'##:. ##:: ##:::..:: ##:::: ##: ##:::: ##: ##:::: ##::'##:. ##:: ##:::: ##: ##:::: ##:
    //  ##:::: ##:'##:::. ##:. ######:: #########: ########:: ##:::: ##:'##:::. ##: ########:: ##:::: ##:
    //  ##:::: ##: #########::..... ##: ##.... ##: ##.... ##: ##:::: ##: #########: ##.. ##::: ##:::: ##:
    //  ##:::: ##: ##.... ##:'##::: ##: ##:::: ##: ##:::: ##: ##:::: ##: ##.... ##: ##::. ##:: ##:::: ##:
    //  ########:: ##:::: ##:. ######:: ##:::: ##: ########::. #######:: ##:::: ##: ##:::. ##: ########::
    // ........:::..:::::..:::......:::..:::::..::........::::.......:::..:::::..::..:::::..::........:::
    &--dashboard{
        position: fixed;
        left: 0;
        top: 0;
        width: $margin;
        max-width: calc(100% - 60px);
        height: 100vh;
        background: $white;
        z-index: 666;
        transition: transform .5s ease;
        transform: translateX(-$margin);        
        border-right: 1px solid rgba($sombre_rgb, 0.3);
        cursor: default;
        pointer-events: none;

        .dash-open &{
            transform: translateX(0);
            pointer-events: all;
        }

        &.ajax{
            .wp-annotations--dashboard__ajax{
                opacity: 1;
                visibility: visible;
            }
        }

        &__wrapper{
            position: relative;
            width: 100%;
            height: 100%;
            overflow: auto;

            & > *{
                position: relative;
                z-index: 2;
            }
        }

        &__ajax{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease;
        }

        &__header{
            padding: 24px;
            border-bottom: 1px solid rgba($sombre_rgb, 0.3);
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2{
                font-weight: 700;
                color: $sombre;
                margin: 0;
                padding: 0;
                font-size: 32px;
                padding: 0;
            }
        }

        &__devices{
            border-bottom: 1px solid rgba($sombre_rgb, 0.3);
            position: relative;

            .devices-wrapper{
                display: flex;
                align-items: center;
            }
            
            &.display-none{
                display: none;
            }
            
            button{
                width: 25%;
                height: 50px;
                background: none;
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: color .5s ease;
                
                svg{
                    height: 28px;
                    width: auto;

                    &.fill{
                        fill: $sombre;
                    }

                    &:not(.fill){
                        stroke: $sombre;
                    }
                }

                &.mobile{
                    svg{
                        height: 24px;
                    }
                }

                &.disabled{
                    cursor: not-allowed;
                    opacity: 0.5;
                }
            }

            &::after{
                content: '';
                height: 3px;
                width: 25%;
                background: $main;
                bottom: 0;
                left: 0%;
                position: absolute;
                transition: left .5s ease;
            }

            &.laptop{
                &::after{
                    left: 25%;
                }
            }
            
            &.tablet{
                &::after{
                    left: 50%;
                }
            }
            
            &.mobile{
                &::after{
                    left: 75%;
                }
            }
        }

        &__comments{
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba($sombre_rgb, 0.3);
            position: relative;
            position: sticky;
            top: 0;
            background: $white;
            z-index: 3;
            
            button{
                width: 50%;
                height: 50px;
                background: none;
                border: none;
                cursor: pointer;
                font-size: 18px;
                font-weight: 500;
                color: rgba($clair_rgb, 0.5);
                transition: color .5s ease;

                &.comments-resolved{
                    color: $main;
                }
            }

            &::after{
                content: '';
                height: 3px;
                width: 50%;
                background: $main;
                bottom: 0;
                left: 50%;
                position: absolute;
                transition: left .5s ease;
            }

            &.active{
            
                button{
                    color: $main;
                    
                    &.comments-resolved{
                        color: rgba($clair_rgb, 0.5);
                    }
                }

                &::after{
                    left: 0;
                }
            }
        }

        &__comments-list{
            padding-bottom: 50px;
            
            &.display-none{
                display: none;
            }

            .no-comment{
                padding: 8px 16px;
                color: $sombre;
            }
        }
    }

    // :'######:::'#######::'##::::'##:'##::::'##:'########:'##::: ##:'########::'######:::::'##::::::::::'###::::'##:::'##::'#######::'##::::'##:'########:
    // '##... ##:'##.... ##: ###::'###: ###::'###: ##.....:: ###:: ##:... ##..::'##... ##:::: ##:::::::::'## ##:::. ##:'##::'##.... ##: ##:::: ##:... ##..::
    //  ##:::..:: ##:::: ##: ####'####: ####'####: ##::::::: ####: ##:::: ##:::: ##:::..::::: ##::::::::'##:. ##:::. ####::: ##:::: ##: ##:::: ##:::: ##::::
    //  ##::::::: ##:::: ##: ## ### ##: ## ### ##: ######::: ## ## ##:::: ##::::. ######::::: ##:::::::'##:::. ##:::. ##:::: ##:::: ##: ##:::: ##:::: ##::::
    //  ##::::::: ##:::: ##: ##. #: ##: ##. #: ##: ##...:::: ##. ####:::: ##:::::..... ##:::: ##::::::: #########:::: ##:::: ##:::: ##: ##:::: ##:::: ##::::
    //  ##::: ##: ##:::: ##: ##:.:: ##: ##:.:: ##: ##::::::: ##:. ###:::: ##::::'##::: ##:::: ##::::::: ##.... ##:::: ##:::: ##:::: ##: ##:::: ##:::: ##::::
    // . ######::. #######:: ##:::: ##: ##:::: ##: ########: ##::. ##:::: ##::::. ######::::: ########: ##:::: ##:::: ##::::. #######::. #######::::: ##::::
    // :......::::.......:::..:::::..::..:::::..::........::..::::..:::::..::::::......::::::........::..:::::..:::::..::::::.......::::.......::::::..:::::
    &--comments-layout{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 555;
    }

    // '##::::'##::'#######::'########:::::'###::::'##:::::::
    //  ###::'###:'##.... ##: ##.... ##:::'## ##::: ##:::::::
    //  ####'####: ##:::: ##: ##:::: ##::'##:. ##:: ##:::::::
    //  ## ### ##: ##:::: ##: ##:::: ##:'##:::. ##: ##:::::::
    //  ##. #: ##: ##:::: ##: ##:::: ##: #########: ##:::::::
    //  ##:.:: ##: ##:::: ##: ##:::: ##: ##.... ##: ##:::::::
    //  ##:::: ##:. #######:: ########:: ##:::: ##: ########:
    // ..:::::..:::.......:::........:::..:::::..::........::
    &--modal{
        position: absolute;
        display: none;
        transform: translate(-15px, 30px);

        .modal-marker{
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: $main;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            top: -30px;
            left: 0;
            transform: translateY(-15px);
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 20px;
                height: 20px;
                object-fit: contain;
                object-position: center center;
            }
        }

        form{
            border-radius: 8px;
            overflow: hidden;
            background: $white;
            width: 300px;
            cursor: default;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

            textarea{
                width: 100%;
                height: 80px;
                border: none;
                border-bottom: 1px solid rgba($sombre_rgb, 0.3);
                padding: 8px;
                border-radius: 0;
                font-family: "Open Sans", serif;
                color: $sombre;
                margin-bottom: 8px;
    
                &:focus{
                    outline: none;
                }
            }

            .mention-list-main{
                display: none;
                width: 100%;
                padding: 0 8px 8px;

                &__wrapper{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;
                    flex-wrap: wrap;
                }

                &__item{
                    padding: 3px 6px;
                    border: 1px solid $clair;
                    border-radius: 4px;
                    font-size: 12px;
                    cursor: pointer;
                    transition: background .5s ease;

                    &:hover{
                        background: rgba($clair_rgb, 0.5);
                    }
                }
            }
    
            .submit-box{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 8px 8px;
    
                button{
                    padding: 8px 16px;
                    background: $main;
                    color: $white;
                    border: none;
                    border-radius: 50px;
                    cursor: pointer;
                    transition: background .5s ease;
                    width: fit-content;
        
                    &:hover{
                        background: $alt;
                    }
                }
            }

            .screenshot &{
                display: none;
            }
        }
        
    }

    // '##::: ##::'#######::'########:'####::'######::'########::'######::
    //  ###:: ##:'##.... ##:... ##..::. ##::'##... ##: ##.....::'##... ##:
    //  ####: ##: ##:::: ##:::: ##::::: ##:: ##:::..:: ##::::::: ##:::..::
    //  ## ## ##: ##:::: ##:::: ##::::: ##:: ##::::::: ######:::. ######::
    //  ##. ####: ##:::: ##:::: ##::::: ##:: ##::::::: ##...:::::..... ##:
    //  ##:. ###: ##:::: ##:::: ##::::: ##:: ##::: ##: ##:::::::'##::: ##:
    //  ##::. ##:. #######::::: ##::::'####:. ######:: ########:. ######::
    // ..::::..:::.......::::::..:::::....:::......:::........:::......:::
    &--notices{
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999;
        max-width: 250px;
        background: #FFF;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
        border-radius: 8px;
        overflow: hidden;
        display: none;

        p{
            color: $main;
            line-height: 1.2;
            font-size: 14px;
        }

        .logged-in &{
            top: 42px;
        }

        &.success{
            .wp-annotations--notice__success{
                display: flex;
            }

            .wp-annotations--notice__error{
                display: none;
            }
        }

        &.error{
            .wp-annotations--notice__success{
                display: none;
            }

            .wp-annotations--notice__error{
                display: flex;
            }
        }

        @media screen and (max-width: 550px){
            max-width: 100%;
            width: calc(100% - 20px);
            left: 10px;
            top: auto;           
        }
    }

    &--notice{
        position: relative;
        display: flex;
        align-items: stretch;

        span{
            background: rgba($sombre_rgb, 0.15);
            padding: 0 16px;
            display: flex;
            align-items: center;
            flex-shrink: 0;
        }

        p{
            font-size: 12px;
            color: $main;
            padding: 16px;
            flex-grow: 1;
        }

        svg{
            width: 20px;
            height: 20px;
            object-fit: contain;
            flex-shrink: 0;

            path{
                stroke: $main;
            }
        }    
    }


    // Comment item (pages)
    .comment-page-item{
        border-bottom: 2px solid rgba($sombre_rgb, 0.3);

        .accordeon-header{
            display: flex;
            align-items: center;
            padding: 8px;
            gap: 8px;
            background: rgba($sombre_rgb, 0.2);

            h5{
                font-weight: 500;
                color: $sombre;
                flex-grow: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 275px;
                display: block;
                font-size: 16px;
                margin: 0;
                padding: 0;
            }

            span{
                font-weight: 700;
                color: $sombre;
                font-size: 12px;
            }

            a, button{
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
                border: none;
                cursor: pointer;
                transition: transform .5s ease;
                padding: 0;

                svg{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    fill: $sombre;
                    transition: .5s ease;
                }

                &:hover{
                    svg{
                        fill: $clair;
                    }
                }
            }

            &.closed{
                button{
                    transform: rotate(180deg);
                }
            }
        }

        .accordeon-content{
            border-top: 1px solid rgba($sombre_rgb, 0.3);
        }
    }

    // Comment item (comments)
    .comment-item{
        padding-top: 8px;
        padding-bottom: 8px;

        &:not(:last-child){
            border-bottom: 1px solid rgba($sombre_rgb, 0.3);
        }

        &__header{
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0 16px;

            .dot{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: $main;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 12px;
                flex-shrink: 0;
            }

            h5{
                font-weight: 500;
                color: $sombre;
                flex-grow: 1;
                font-size: 14px;
                margin: 0;
                padding: 0;
            }

            span{
                font-weight: 400;
                color: $main;
                font-size: 10px;
            }

            .device{
                display: flex;
                align-items: center;

                svg{
                    width: 16px;
                    height: 16px;
                    object-fit: contain;

                    &:not(.fill){
                        path{
                            stroke: $main;
                        }
                    }

                    &.fill{
                        path{
                            fill: $main;
                        }
                    }
                }
            }

            .buttons{
                display: flex;
                align-items: center;
                gap: 8px;

                button{
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    cursor: pointer;
                    border: 1px solid $sombre;
                    border-radius: 50%;
                    padding: 0;
                    transition: background .5s ease;
    
                    svg{
                        width: 14px;
                        height: 14px;
                        object-fit: contain;
                    }
    
                    &.true{
                        background: $sombre;
                        
                        .active{
                            display: none;
                        }
                    }
    
                    &.false{
                        .resolved{
                            display: none;
                        }
                    }

                    &:hover{
                        background: rgba($clair_rgb, 0.5);
                    }
                }
            }
        }

        &__content{
            padding: 0 16px;
            margin-top: 12px;
                    
            p{
                font-size: 16px;
                color: $sombre;
              
                & + p{
                    margin-top: 8px;
                }
            }
        }

        &__content-form{
            padding: 0 16px;
            margin-top: 12px;
            display: none;

            textarea{
                width: 100%;
                border: 1px solid $sombre;
                border-radius: 0;
                background: none;
                text-align: left;
                border-radius: 8px;
                color: $sombre;
                transition: border .5s ease;
                padding: 8px;

                &:focus{
                    outline: none;
                    border: 1px solid $alt;
                }
            }

            &--btns{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 8px;
                margin-top: 8px;

                button{
                    padding: 4px 8px;
                    background: $main;
                    color: $white;
                    border: none;
                    border-radius: 50px;
                    cursor: pointer;
                    transition: background .5s ease;
                    font-size: 10px;
        
                    &:hover{                        
                        background: $sombre;
                    }
                }
            }
        }

        &__screenshot{
            padding: 0 16px;
            margin-top: 12px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 8px;

            &--wrapper{
                width: 80px;
                aspect-ratio: 4/3;
                border-radius: 12px;
                object-fit: cover;
                border: 1px solid rgba($sombre_rgb, 0.3);
                overflow: hidden;
                cursor: pointer;
                position: relative;

                .expend{
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba(0, 0, 0, 0.5);
                    opacity: 0;
                    transition: all .5s ease;

                    img{
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                    }
                }

                & > img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                    z-index: 1;
                }

                &:hover{
                    .expend{
                        opacity: 1;
                    }
                }
            }

            &--comments{
                position: relative;
                cursor: pointer;

                svg{
                    width: 32px;
                    height: 32px;

                    path{
                        fill: $main;
                        transition: all .5s ease;
                    }
                }

                &:hover{
                    svg{
                        path{
                            fill: $clair;
                        }
                    }
                }

                &.has-comments{
                    &::after{
                        content: '';
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: $sombre;
                        position: absolute;
                        top: 4px;
                        right: 4px;
                    }
                }
            }
        }
    }

    // Replies
    &--replies{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 998;
        display: none;
        align-items: center;
        justify-content: center;
        pointer-events: all;

        &.ajax{
            .wp-annotations--replies{
                &__ajax{
                    opacity: 1;
                    visibility: visible;
                }

                &__wrapper{
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        &.loading{
            .wp-annotations--replies{
                &__ajax{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &__ajax{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.05);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease;
        }

        &__wrapper{
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            display: block;
            padding: 90px 45px;
            overflow: auto;
            transition: all .2s ease;
        }

        @media screen and (max-width: 500px) {
            &__wrapper{
                padding: 60px 0;
            }
        }
    }

    .reply-box{
        background: #FFF;
        width: 650px;
        max-width: calc(100% - 48px);
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;

        &.ajax{
            .reply-box__ajax{
                opacity: 1;
                visibility: visible;
            }
        }

        &__ajax{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease;

            .loader-ajax{
                &::after{
                    border: 2px solid $sombre;
                }
            }
        }

        &__wrapper{
            position: relative;
            z-index: 1;
            padding: 24px;
        }

        &__header{
            display: flex;
            align-items: center;
            gap: 8px;

            .dot{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: $main;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 12px;
                flex-shrink: 0;
            }

            h5{
                font-weight: 500;
                color: $sombre;
                flex-grow: 1;
                font-size: 14px;
                margin: 0;
                padding: 0;
            }

            span{
                font-weight: 400;
                color: $main;
                font-size: 10px;
            }

            .device{
                display: flex;
                align-items: center;

                svg{
                    width: 16px;
                    height: 16px;
                    object-fit: contain;

                    &:not(.fill){
                        path{
                            stroke: $main;
                        }
                    }

                    &.fill{
                        path{
                            fill: $main;
                        }
                    }
                }
            }

            .buttons{
                display: flex;
                align-items: center;
                gap: 8px;

                button{
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    cursor: pointer;
                    border: 1px solid $sombre;
                    border-radius: 50%;
                    padding: 0;
                    transition: background .5s ease;
    
                    svg{
                        width: 12px;
                        height: 12px;
                        object-fit: contain;
                    }

                    &.close-replies{
                        svg{
                            path{
                                stroke: $sombre;
                            }
                        }
                    }
    
                    &.true{
                        background: $sombre;
                        
                        .active{
                            display: none;
                        }
                    }
    
                    &.false{
                        .resolved{
                            display: none;
                        }
                    }

                    &:hover{
                        background: rgba($clair_rgb, 0.5);
                    }
                }
            }
        }

        &__replies{
            padding-top: 16px;
            padding-left: 24px;
            padding-bottom: 12px;
            border-bottom: 1px solid rgba($sombre_rgb, 0.3);

            .reply-item{
                padding: 8px 8px 8px 12px;
                border-left: 2px solid rgba($clair_rgb, 0.5);
                background: rgba($clair_rgb, 0.05);

                &__header{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &--user{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        
                        svg{
                            transform: scaleX(-1);
                            width: 20px;
                            height: 20px;

                            path{
                                fill: $main;
                            }
                        }

                        h6{
                            font-size: 14px;
                            font-weight: 500;
                            color: $sombre;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    &--infos{
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        span{
                            font-size: 12px;
                            color: $main;
                        }
                        
                        .buttons{
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            button{
                                width: 20px;
                                height: 20px;
                                flex-shrink: 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: none;
                                cursor: pointer;
                                border: 1px solid $sombre;
                                border-radius: 50%;
                                padding: 0;
                                transition: background .5s ease;
                
                                svg{
                                    width: 14px;
                                    height: 14px;
                                    object-fit: contain;
                                }
                
                                &.true{
                                    background: $sombre;
                                    
                                    .active{
                                        display: none;
                                    }
                                }
                
                                &.false{
                                    .resolved{
                                        display: none;
                                    }
                                }

                                &:hover{
                                    background: rgba($clair_rgb, 0.5);
                                }
                            }
                        }
                    }
                }

                &__content{
                    margin-top: 12px;
                    
                    p{
                        font-size: 16px;
                        color: $sombre;

                        & + p{
                            margin-top: 8px;
                        }
                    }

                    strong{
                        &.mention{
                            color: $main;
                            font-weight: 700;
                        }
                    }
                }

                &__image{
                    margin-top: 12px;
                    width: 80px;
                    aspect-ratio: 4/3;
                    border-radius: 12px;
                    object-fit: cover;
                    border: 1px solid rgba($sombre_rgb, 0.3);
                    overflow: hidden;
                    cursor: pointer;
                    position: relative;
    
                    .expend{
                        position: absolute;
                        z-index: 2;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: rgba(0, 0, 0, 0.5);
                        opacity: 0;
                        transition: all .5s ease;
    
                        img{
                            width: 30px;
                            height: 30px;
                            object-fit: contain;
                        }
                    }
    
                    & > img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: relative;
                        z-index: 1;
                    }
    
                    &:hover{
                        .expend{
                            opacity: 1;
                        }
                    }
                }

                & + .reply-item{
                    margin-top: 16px;
                }
            }
        }

        &__comment{
            margin-top: 12px;
            font-size: 16px;
            color: $sombre;
            padding-bottom: 12px;
            border-bottom: 1px solid rgba($sombre_rgb, 0.3);

            p{
                & + p{
                    margin-top: 8px;
                }
            }
        }

        &__form{
            margin-top: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            flex-wrap: wrap;

            .mention-list{
                display: none;
                width: 100%;

                &__wrapper{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;
                    flex-wrap: wrap;
                }

                &__item{
                    padding: 3px 6px;
                    border: 1px solid $clair;
                    border-radius: 4px;
                    font-size: 14px;
                    cursor: pointer;
                    transition: background .5s ease;

                    &:hover{
                        background: rgba($clair_rgb, 0.5);
                    }
                }
            }

            textarea{
                width: 100%;
                border: 1px solid $sombre;
                border-radius: 0;
                background: none;
                text-align: left;
                border-radius: 8px;
                color: $sombre;
                transition: border .5s ease;
                padding: 8px;

                &:focus{
                    outline: none;
                    border: 1px solid $alt;
                }
            }

            label{
                color: $sombre;
                font-size: 13px;
                display: flex;
                align-items: center;
                gap: 5px;
            }

            .file-input{
                width: 100%;
                display: flex;
                align-items: center;

                .reply-file{
                    width: 100%;
                }

                input{
                    display: none;
                }

                &__front{
                    font-size: 12px;
                    width: 100%;

                    iconify-icon{
                        font-size: 14px;
                    }

                    .unfiled{                            
                        &__wrap{
                            width: fit-content;
                            color: $sombre;
                            transition: all .5s ease;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            padding: 4px 6px;
                            border: 1px solid $sombre;
                            border-radius: 5px;

                            &:hover{
                                background: rgba($main_rgb, 0.1);
                            }
                        }
                    }

                    .filed{
                        display: none;

                        &__wrap{
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            width: fit-content;
                            max-width: 100%;
                            overflow: hidden;

                            .text{
                                color: $sombre;
                                flex-grow: 1;
                                display: inline-block;
                                max-width: 100%;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                vertical-align: middle;
                            }

                            .clear{
                                color: $sombre;
                                transition: all .5s ease;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                flex-shrink: 0;

                                &:hover{
                                    color: $clair;
                                }
                            }
                        }
                    }
                }
            }

            & > label{
                input{
                    height: 16px;
                    position: relative;
                    width: auto;
                    opacity: 1;
                }
            }

            button{
                padding: 4px 8px;
                background: $main;
                color: $white;
                border: none;
                border-radius: 50px;
                cursor: pointer;
                transition: background .5s ease;
                font-size: 10px;
                width: fit-content;

                &:hover{                        
                    background: $sombre;
                }
            }         
        }
    }
}